{% assign areas = site.data.areas %}

<div class="areas-container">
  {% for area in areas %}
    <div class="area-card">
      <div class="area-icon">
        /assets/icons/flask-icon.svg
      </div>
      <div class="area-content">
        <h2 class="area-title">
          {{ area.link }}{{ area.title }}</a>
        </h2>
        <p class="area-description">{{ area.description }}</p>

        {% if area.selected_publications %}
          <div class="publications">
            <h3>Selected Publications</h3>
            <ul class="publication-list">
              {% for pub in area.selected_publications %}
                <li>
                  {{ pub.link }}{{ pub.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
