<div class="event">
  {% if include.image %}
    <div class="event-image-container">
      <img src="{{ include.image }}" alt="{{ include.title }}" />
    </div>
  {% endif %}
  <div class="event-content">
    <h3>{{ include.title }}</h3>
    <p class="event-date">{{ include.date | date: "%B %d, %Y" }}</p>
    <p class="event-location">{{ include.location }}</p>
    <p>{{ include.description }}</p>
    {% if include.link %}
      <a href="{{ include.link }}">Learn More</a>
    {% endif %}
  </div>
</div>